@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.carousel-caption h1 {
    font-size: 3.5vw;
    margin-bottom: 3%;
}

.carousel-caption h2 {
    font-size: 3.5vw;  
}

.hero-para {
    margin-bottom: 15%;
}

.row1 {
    text-align: center;
    margin-top: 3%;
}
.para2{
    font-size: 1.2vw;
}
.row2 {
    text-align: center;
    margin-top: 3%;
    color: white;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.services {
    padding-top: 10%;
}






















@media only screen and (max-width:500px) {
    .carousel-caption {
        font-size: 2vw;
        margin-bottom: -9%;

    }

    .d-img {
        width: 7vw;
    }

    .hero-para {
        margin-top: -3%;
        font-size: 1.7vw;
    }

    .mouse {
        width: 2vw;
    }
    h3 {
        font-size: 3vw;
    }

    .para2 {
        font-size: 2.5vw;
    }



}
@media only screen and (min-width:768px) {
    .carousel-caption {
        margin-bottom: -3%;
        font-size: 2vw;
    }

    .hero-para {
        font-size: 1.2vw;
    }

    .d-img {
        width: 7vw;
    }

    .mouse {
        width: 1.5vw;
    }
    .para2{
        font-size: 1.7vw;
    }
    h3{
        font-size: 2.5vw;
    }
}
