@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.carousel-caption h1 {
    font-size: 3.5vw;
    margin-bottom: 3%;
}

.carousel-caption h2 {
    font-size: 3.5vw;
}

.hero-para {
    margin-bottom: 15%;
}

.row1 {
    text-align: center;
    margin-top: 3%;
}

.para2 {
    font-size: 1.2vw;
}

.row2 {
    text-align: center;
    margin-top: 3%;
    color: white;
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.services {
    padding-top: 10%;
}

/* style what we do */
h4 {
    margin-left: 41%;
    padding-top: 5%;
    margin-bottom: 3%;
    font-size: 2vw;
    margin-bottom: 2%;
    letter-spacing: 0.3vw;
}

.row3 {
    margin-left: 8%;
}

.hidden,
.hidden2,
.hidden3 {
    text-align: center;
    display: none;
}

.para4 {
    margin-left: 3%;
    font-weight: bold;
    color: black;
}

.para3 {
    margin-left: -6%;
    color: black;
    font-weight: bold;
}

.para5 {
    margin-left: -12%;
    color: black;
    font-weight: bold;
}

/*style portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 10% 10% 10%;
    text-align: center;
    
}

#portfolio h3 {
    font-size: 2vw;
    margin-bottom: 2%;
}

#portfolio .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
   
}

#portfolio .images .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin-top: 2%;
    position: relative;
}


#portfolio .images .image img {
    width: 100%;
    position: relative;
    z-index: -2;
}

#portfolio .images .image .text-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5%;
    text-align: left;
    animation: appear 0.5s;
    display: none;
    backdrop-filter: blur(0.1vw);
    z-index: -1;
    background-clip: text;
}


#portfolio .images .image .text-box p {
    text-align: left;
    color: white;
    font-weight: 800;
    font-size: 1.5vw;
    padding: 10%;
    height: 90%;
    width: 90%;
    border: solid 0.3vw white;
}

/* style contact section */

.row5 {
    background-image: url("../assets/backgrounds/c_image.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
}
form {
    padding-top: 5%;
    margin-left: 20%;
    animation-delay: 0.5s;
    animation: appear 0.5s;

}
#subscribe-form .info input::placeholder {
    color: rgb(197, 197, 197);
}

#subscribe-form textarea::placeholder {
    color: rgb(197, 197, 197);
}
.form-control {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    width: 40vw;
    outline: none;

}
.btn-primary{
    background-color: transparent;
    border-color: white;
}
.successful {
    width: 40%;
    padding: 3%;
    outline: none;
    border: 0.1vw solid white;
    border-radius: 0.3vw;
    background-color: black;
    color:white;
    font-size: 1vw;
    margin-top: 5%;
    margin-left: 30%;
    cursor: pointer;
    backdrop-filter: blur(0.2vw);
    animation-delay: 0.5s;
    animation: appear 0.5s;
    display: none;
}
.dismiss {
    padding: 2% 7%;
    outline: none;
    border: 0.1vw solid #fff;
    border-radius: 0.3vw;
    background-color: transparent;
    color: #fff;
    font-size: 1vw;
    margin-top: 5%;
    cursor: pointer;
}
.one {
    width: 30vw;

}

.two {
    width: 30vw;
    margin-left: -38%;
}

.three {
    width: 60vw;
    margin-left: 0.5%;
}

h6 {
    color: white;
    font-size: 2vw;
    margin-left: 25%;
}

.row6 {
    margin-top: 6%;
    margin-left: 15%;
}















@media only screen and (max-width:500px) {
    .carousel-caption {
        font-size: 2vw;
        margin-bottom: -9%;

    }

    .d-img {
        width: 7vw;
    }

    .hero-para {
        margin-top: -3%;
        font-size: 1.7vw;
    }

    .mouse {
        width: 2vw;
    }

    h3 {
        font-size: 3vw;
    }

    .para2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 3vw;
    }
    h4{
        font-size: 5vw; 
       
     }
     .para4, .para3 , .para5{
         font-size: 3vw;
     }
     .hidden, .hidden2, .hidden3{
         font-size: 2.5vw;
     }
    .showed , .showed2, .showed3{
        margin-left: -5%;
    }

}

@media only screen and (min-width:768px) {
    .carousel-caption {
        margin-bottom: -3%;
        font-size: 2vw;
    }

    .hero-para {
        font-size: 1.2vw;
    }

    .d-img {
        width: 7vw;
    }

    .mouse {
        width: 1.5vw;
    }

    .para2 {
        font-size: 1.7vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    h3,
    h4 {
        font-size: 2.5vw;
    }
    .hidden, .hidden2, .hidden3{
        font-size: 1.5vw;
    }
}